<template>
  <div class="hello">
    <input v-model="user.firstName">
    <input v-model="user.lastName">
    <button @click="save()">Save</button>
    <h1>{{ msg }}</h1>
    <div class="result">
    <b>First Name: </b>
    <div id="firstName">{{ user.firstName }}</div>
    <br>
    <b>Last Name: </b>
    <div id="lastName">{{user.lastName}}</div>
    </div>
    <router-link to="user">User</router-link>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      user: {
        firstName: '',
        lastName: ''
      },
      msg: 'Welcome!'
    }
  },
  methods: {
    save () {
      this.$store.dispatch('update_user', {
        firstName: this.user.firstName,
        lastName: this.user.lastName
      })
      this.user = {
        firstName: '',
        lastName: ''
      }
      this.msg = 'User added'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
