
<template>
<div>
  <h1>Saved Data</h1>
  <b>First Name:</b> {{user.firstName}}
  <b>Last Name</b> {{user.lastName}}
  </div>
</template>

<script>
export default {
  computed: {
    user () {
      return this.$store.getters.user
    }
  }
}
</script>
